/* Font chữ và màu nền cho trang */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Khung */
.content {
    margin: 25px auto 25px auto;
    width: 100%;
    max-width: 1200px;
    position: relative;
    -webkit-box-shadow: 0 0 20px rgba(50, 50, 50, .17);
    -moz-box-shadow: 0 0 20px rgba(50, 50, 50, .17);
    box-shadow: 0 0 20px rgba(50, 50, 50, .17);
}

.body {
    margin: 40px;
    padding-bottom: 40px;
}

.footer {
    margin: 40px;
    padding-bottom: 40px;
}


/* Header */
.header {
    text-transform: uppercase;
    font-weight: bold;
}


/* Header (logo) */
.header_top {
    width: 100%;
    padding: 15px 0;
    margin: 0;
    border-bottom-color: rgb(66, 63, 57);
}

.header_top_link {
    margin-left: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header_top_title {
    display: flex;
    align-items: center;
}


/* Header (navigation) */
.header_bottom {
    background-color: #2A2A2A;
}

.header_bottom_navigation {
    color: #fff;
    text-decoration: none;
    overflow: auto;
}

.header_bottom_menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header_bottom_menu_item {
    padding: 20px;
    border-right: 1px solid #ebebeb;
}

.header_bottom_menu_item a {
    text-decoration: none;
    color: #fff;
    display: block;

}

.dropdown-content {
    text-transform: none;
    padding-inline-start: 0;
    display: none;
    position: absolute;
    background-color: #2A2A2A;
    margin: 20px;
    margin-left: -20px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header_bottom_menu_item:hover .dropdown-content {
    display: block;
}

.header_bottom_menu_item:hover {
    background-color: #E64946;
}

.dropdown-content li {
    padding: 8px 12px;
    list-style-type: none;
    cursor: pointer;
    display: block;

}

.dropdown-content li:hover {
    background-color: #E64946;
}

.subject {
    font-weight: bold;
}

/* Breadcrumb */
.breadcrumb {
    margin: 40px;
    display: flex;
    align-items: center;
}

.breadcrumb a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb span {
    margin: 0 10px;
}


/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    background-color: #e9e9e9;
    padding: 10px;
    text-decoration: none;
    color: #333;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;

}

.grid-item:hover {
    background-color: #ccc;
}

.grid-item h2 {
    margin-top: 0;
}

.title {
    padding-top: 40px;
    text-align: center;
}

